#MainMenu 
{
	width:100%;
	height:31px;
	
	margin:0;
	border:0;
}
#tab 
{
	margin:0;
	top:0;
}
#tab ul 
{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#tab li 
{
display:inline;
	float:left;
	margin:0 0 0 0 ;
	padding:0;
}
#tab a 
{
	background:#000000 url("images/bright_034-1.gif") no-repeat right top;
	margin:0;
	padding:0;
	text-decoration:none;
	border:0;
	display:block;
	float:left;
}
#tab a span 
{
	display:block;
	background:url("images/bleft_034-1.gif") no-repeat left top;
	padding:0 18px 0 16px;
	font-size:11;
	color:#C7CAD9;
	font-weight:bold;
	line-height:31px;
}
#tab a:hover,#tab li.selected a 
{
	background-position:right bottom;
	border-color:#000000;
}
#tab a:hover span,#tab li.selected a span 
{
	background-position:left bottom;
	color: #FFFFFF;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.dropmenudiv
{
	position:absolute;
	top:0;
	float:left;
	display:block;
	visibility:hidden;
	border:0 solid #330066;
	color:#000000;
	z-index:100;
	text-decoration:none;
	padding:0;
}
.dropmenudiv ul 
{
	margin:0;
	padding:0;
	list-style:none;
}
.dropmenudiv li 
{
	display:inline;
	margin:0;
	padding:0;
}
.dropmenudiv a:link, .dropmenudiv a:visited
{
	width:180px;
	margin:0 0 0 0 ;
	padding:0;
	display:block;
	border:0 solid #000000;
	color:#000000;
	background:url("images/bleft_034-1.gif") no-repeat left top;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.dropmenudiv a span 
{
	float:left;
	display:block;
	line-height:31px;
	background:url("images/bright_034-1.gif") no-repeat right top;
	padding:0 18px 0 16px;
	font-size:11;
	color:#000000;
}
.dropmenudiv a span 
{
	float:none;
}
.dropmenudiv a:hover
{
	border:0 solid #000000;
	background-position:left bottom;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#000000;
}
.dropmenudiv a:hover span 
{
	background-position:right bottom;
	color:#000000;
	font-weight:bold;
}
