@import "menu/custom_menu-nobg.css";

a.perelink {color: black;}
a.current_url {font-weight: bold; }
li.current_url a {font-weight: bold;}
li.current_url li a {font-weight: normal;}
li.current-page a {font-weight: bold;}

#MainMenu {font-size: 9pt; margin: 0; background: #3D7FE0; height: 30px;}
#tab ul {}
#tab li {display: inline;}
#tab a {display: block; float: left; line-height: 30px; height: 30px; margin-right: 1px; background: #3D7FE0; padding: 0 10px; text-decoration: none; text-align: center; font-weight: bold; color: white; }
#tab li.first a {}
#tab li.selected a {}
#tab a:hover {background: #266ACF; color: white; }

#content ul, #content ol {margin-top: 10px; margin-bottom: 10px;}
#content ul ul, #content ol ol {margin-top: 0px; margin-bottom: 0px;}
li {margin-left: 30px;}

/* H */
h1.category {font-size: 16pt; border-bottom: 1px solid #3C5FB3;}
#content h1 {border-bottom: 3px solid #CCCCCC; line-height: 1.4em; color: #4268C0; margin-bottom: 5px;}
#content h1 a {color: #4268C0;}
#content h1 a:hover {text-decoration: none; color: blue;}

h2.box {margin: 0 0 5px 0; color: #286CCF; font-family: Arial; font-size: 12pt;}
h2.last_comment {font-size: 9pt; margin-top: 10px; color: #404040; border-bottom: solid gray 1px;}


/* code */
pre { margin: 10px 0; background: #E8E8E8; padding: 10px; border: 1px solid #DDDDDD; overflow: auto;}
*html pre {width: 410px;}
*+html pre {width: 410px; }

blockquote {padding: 10px; margin: 15px 0 10px 40px; background: #E8E8E8;}
blockquote p {width: 100%; margin: 0; }



/* DIV */

div.widget { b1order: 1px solid #86A7CA; margin: 10px 0 20px 10px; background: #EFF4FA; }
div.widget div.w0 {position: relative;}
div.widget div.w1 {}
div.widget div.w2 {}
div.widget a {color: #6060A0;}

div.loginform {position: fixed; top: 20%; left: 50%; margin-top: 50px; margin-left: -150px; text-align: center;  padding: 20px 20px 20px 15px; border: 3px outset #D5DDF3; background: #F0F0FB; width: 300px;}
* html div.loginform {position: absolute;}

div.twitter {}
div.twitter p {border-bottom: 1px solid #5368A1; padding: 0 0 10px 0;}
div.twitter a {font-weight: bold;}

div.pagination {border-top: 1px solid #5368A1; border-bottom: 1px solid #5368A1; padding: 3px; font-size: 8pt; margin: 25px 0 10px 0; text-align: center;}
div.pagination strong {background: #8591B7; padding: 2px;}

#flogin span {display: block; font-weight: bold;}
#flogin_user {width: 98%;}
#flogin_password {width: 98%;}
#flogin_submit { margin: 5px 0;}

div.page_content {margin-bottom: 20px;}
div.info {margin: 0 0 10px 0; font-size: 8pt; color: gray; line-height: 1.4em; }
div.info span {font-weight: bold;}

div.tagclouds {text-align: center;}
div.tagclouds span {line-height: 1.4em;}

div.catclouds {text-align: center;}
div.catclouds span {line-height: 1.4em;}

div.home_top {background: #E6F1FF; padding: 1px 5px;}

div.page_other_pages {margin: 20px 0 20px 0;}
div.page_other_pages h3 {color: black; margin: 0 0 5px 0; background: #E8E8E8; padding: 3px;}
div.page_other_pages ul {list-style-type: square;}


/* LIST */
ul.is_link {margin: 0px 0px 10px 3px; padding: 0px; fo1nt-size: 9pt; list-style-type: none; l1ist-style-type: square; line-height: 1.5em;}

ul.is_link ul {marg1in: 0; padd1ing: 0px; list-style-type: none;}

ul.is_link li {margin: 0px; background: url(images/bulletblue.gif) no-repeat 0 4px; padding: 0 0 0 14px;}
ul.is_link li li {margin-left: 10px;}

li.level0, li.level0 a {}
li.count0 {color: grey;}

ul.category {color: gray;}

ul.last_comment {font-size: 8pt; }
ul.last_comment em {display: block; color: gray; f1ont-size: 0.9em; text-align: right;}
ul.last_comment li {margin-bottom: 7px;}

div.comments ul.last_comment li {margin: 5px 0;}

ul.links div {margin: 0px 0 5px 0; font-style: italic; color: gray; line-height: 1.0em; font-size: 0.9em;}


/* CALENDAR */
div.calendar table {width: 100%;}
div.calendar td {border: 1px solid white; text-align: center; padding: 1px; font-size: 8pt;}
div.calendar tr.week td {background: #D5D5E1;}
div.calendar div.today {background: #8591B7;}
div.calendar div.today-content {background: #8591B7;}
div.calendar td a {text-decoration: underline;}


/* COMMENTS */
div.comment-form {line-height: 1.2em; width: 100%;}
div.comment-form label {wid1th: 120px; font-weight: bold; fl1oat: left; te1xt-align: right; cl1ear: both; margin: 3px;}
div.comment-form p {margin: 3px;}
div.comment-form input.text {width: 300px; margin: 3px;}
div.comment-form input.no-margin {width: auto; margin: 3px; }
div.comment-form textarea {width: 99%; margin: 3px;}
*html div.comment-form textarea {width: 95%; margin: 3px;}
div.comment-form span { position: relative; top: -5px; font-size: 8pt; color: gray;}
div.comment-form span.black { font-si1ze: 9pt; color: black;}
div.comment-form input.comments_submit {width: 120px; margi1n-left: 126px;}
div.comment-form input.comments_captha {width: 90px;}
div.comment-form img { position: relative; top: 7px; }

div.comment-form div.comments-reg {border: 1px solid #8591B7; margin: 10px 0; backgr1ound: #E5E5F1; padding: 10px;}
div.comment-form div.comments-noreg {border: 1px solid #8591B7; margin: 10px 0; backg1round: #F1E5E5; padding: 10px;}
div.comment-form div.comments-textarea {border: 1px solid #8591B7; margin: 10px 0; backg1round: #E5F1E5; padding: 10px;}

div.comment-form div.comments-user {border: 1px solid #8591B7; margin: 10px 0; backgr1ound: #E5F1E5; padding: 10px; -moz-border-radius: 10px; font-weight: bold;}

div.comment-ok {background: #40A040; color: white; padding: 10px; text-align: center; font-weight: bold;}
div.comment-error {background: #FF4040; color: white; padding: 10px; text-align: center; font-weight: bold;}

div.comment-form .comment_button input {margin: 0px; padding: 0 5px; font-size: 8pt;}


div.comments {margin: 20px 0 0 0;}
div.comments ul, div.comments ol {margin: 10px 0 20px 0;}
div.comments li {bor1der-bottom: 1px solid #8591B7; margin: 0 0 20px 30px;}
div.comments li span {bor1der-bottom: 1px solid #8591B7; font-style: italic;}

div.comments h3.comments {background: #E8E8E8; padding: 3px;}
div.comments blockquote {margin-left: 0; padding: 10px; border-left: 2px gray solid;}

div.comments-link {margin: 10px 0 0 0; text-align: right; font-size: 8pt;}


/* comusers*/

form.comusers-form p strong {width: 180px; display: block; float: left;}
form.comusers-form p input {width: 260px; }
form.comusers-form p textarea {width: 260px; height: 300px;}
form.comusers-form p  {background: #EEEEEE;}
form.comusers-form p.info  {background: none; color: #B00000; margin: 0 0 15px 0; border: 1px solid #B00000; padding: 3px; text-align: center;}


/* SITEMAP */
div.sitemap ul {list-style-type: none; margin: 0;}
div.sitemap h3 {margin: 15px 0 5px 0;}
h2.sitemap {margin: 25px 0 0 0; background: #DDDDDD; padding: 3px;}

/* IMG */
img.text {margin: 5px 10px 5px 0px;}
img.text-left {float: left; margin: 5px 10px 5px 0px;}
img.text-right {float: right; margin: 5px 0 5px 10px;}
img.text-center {margin: 0 auto; display: block;}
img.border {border: 1px solid #3D61B6; }

img.smiley {vertical-align: middle;}

/*  PRE to OL */
div.pre {background: #F0F0F0; padding: 5px; overflow: auto; wi1dth: 99%; margin: 0 0 10px 0;}
ol.pre {line-hei1ght: 1em; font-family: monospace; padding: 0; margin: 0 0 0 30px;  }
ol.pre li {padding: 0; margin: 0; white-space: pre; line-he1ight: 0.8em;}
ol.pre li.odd {background: none;}
ol.pre span.php-comment {color: gray;}


/* OTHER */
span.cut {display: block; }
div.break {clear: both;}