#header1 {display: none;}
#MainMenu {display: none;}
#header2 {display: none;}
#header3 {display: none;}
#sidebars {display: none;}
#sidebar1 {display: none;}
#sidebar2 {display: none;}
#bottom {display: none;}
div.pagination {display: none;}
#rater {display: none;}
div.addzakl {display: none;}
div.comment-form {display: none;}
h3.comments {display: none;}
