/* FIRST */

* { padding: 0; margin: 0; }
html, body { margin: 0; padding: 0; }
body { font: 62.5% Verdana, Tahoma, Arial, sans-serif; }

p { margin: 3px 0px 7px 0px;}
p.info {margin: 7px 0px 15px 0px; font-style: italic;}


ul, ol {margin-left: 30px;}



a { color: #10330F; text-decoration: none;}
a:hover { color: green; text-decoration: underline; }
a:active { color: green; }

a img { border: none; text-decoration: none;} /* ie fix*/
a img, a:visited img, a:hover img, a img:hover, img+a, img+a:hover { border: none; text-decoration: none;}


/* H */
h1 {font-size: 14pt; font-weight: normal; margin: 0 0 5px 0;}
div.admin-header h1 {font-size: 16pt; margin: 0; font-weight: normal;}
h1.content {background: #D7E7C8; padding: 5px; color: green;}
h2 {font-size: 11pt; margin: 5px 0;}
h3 {font-size: 10pt; margin: 5px 0;}
h4 {font-size: 9pt; margin: 3px 0;}
h5 {font-size: 8pt; margin: 3px 0;}
h6 {font-size: 7pt; margin: 3px 0;}


/* STRUCTURE */

#container {font-size: 9pt; width: 100%;}
#mc {float: left; width: 100%;  background: url(images/bg-menu.gif) repeat-y;}

div.admin-header {background: #10330F url(images/bg-header.jpg) repeat-x; color: white; padding: 10px; border-bottom: 1px #668D61 solid;}
div.admin-header a {color: white;}

div.admin-content {min-heig1ht: 250px; margin: 0 0 0 250px; padding: 10px; border-left: 2px #235826 solid; }

div.admin-menu {width: 250px; background: #D7E7C8; color: #10330F; float: left; border-right: 2px #235826 solid;}
div.admin-menu div.r { padding: 10px 0 10px 0;}

div.admin-footer {clear: both; background: #10330F url(images/maxsitelogo-green.png) no-repeat right 3px; padding: 15px 0 10px 10px; color: white; text-align: center;}
div.admin-footer a {color: white;}


div.admin-widget {margin: 0; border: 2px solid #10330F; padding: 20px; text-align: center; color: #10330F; -moz-border-radius: 10px; background: #F9FFEE;}

ul.admin-menu {margin: 0 0 0 10px;}
ul.admin-menu li {padding-top: 3px;  font-size: 10pt; }
ul.admin-submenu {list-style-type: square;}
ul.admin-menu li.admin-menu-top { font-size: 14pt; list-style-type: none; padding-top: 10px;}

li.admin-menu-selected a {text-decoration: underline;}

ul.widgets-allow {line-height: 2.1em;}
ul.widgets-allow b {font-size: 10pt;}

div.admin-h-menu {padding: 5px; background: #10330F; color: white; margin-bottom: 10px; }
div.admin-h-menu a {color: white;}
div.admin-h-menu a.select {text-decoration: underline;}

table.page td {padding: 3px;}
table.page td.alt {}
table.page th {padding: 3px;  background: #D7E7C8; color: #10330F;}
table.page tr {background: #FEFEFB;}
table.page tr.alt {background: #D7E7C8;}

input.f_header {width: 99%; margin: 5px auto 5px auto; color: #333399; padding: 2px; font-size: 18pt;}


div.update {padding: 10px; background: #D0FFD0; margin-bottom: 10px;}
div.error {padding: 10px; background: #FFD0D0; margin-bottom: 10px;}

.gray {color: gray;}
.gray a {color: gray;}

div.block_page {background: #D7E7C8; border: #94A972 1px solid; margin: 0 0 10px 0; padding: 5px 10px 10px 10px; -moz-border-radius: 10px;}
div.block_page h3 {border-bottom: #94A972 1px solid; margin: 0 0 10px 0; color: #10330F;}
div.block_page p {margin: 0;}

div.page_meta {background: #D7E7C8; border-color: #235826; -moz-border-radius: 0px;}
div.page_meta h3 {border: none; color: #404040; margin: 0 0 3px 0;}
div.page_meta div {background: #FEFEFB; margin: 10px 0 10px 0; border: #235826 1px solid; padding: 5px 10px; -moz-border-radius: 10px;}
div.page_meta p {font-style: italic;}

div.page_files {}

div.page_files div.frame {height: 470px; width: auto; overflow: auto;}
*html div.page_files div.frame {overflow: scroll;}
*+html div.page_files div.frame {overflow: scroll;}

div.page_files div.frame table {backgro1und: #F0F0F0;}
div.page_files div.frame table td {backg1round: #E0E0E0;}
*html div.page_files div.frame table {width: 96%;}
*+html div.page_files div.frame table {width: 96%;}

div.page_files div.frame input {width: 99%;}
*html div.page_files div.frame input {width: 500px;}
*+html div.page_files div.frame input {width: 500px;}

div.page_files div.frame input.check_files {width: auto;}
div.page_files div.frame #gallerycodeclick {width: auto;}

div.cat_page ul {list-style-type: none; margin-left: 0px;}
div.cat_page ul ul {margin-left: 20px;}

div.admin-edit-widgets {margin-bottom: 30px; padding: 5px 10px 10px 10px; background: #D7E7C8; -moz-border-radius: 10px;}
div.admin-edit-widgets-form {border: #94A972 1px solid; margin: 10px 0 10px 0; padding: 1px 10px 10px 10px; background: white; -moz-border-radius: 10px; border-bottom: #807070 2px solid; border-right: #807070 2px solid;}
div.admin-edit-widgets-form h3 {color: #0D419B;}
div.admin-edit-widgets-form input {width: 600px; font: 10pt Courier New, mono;}
div.admin-edit-widgets-form textarea {width: 600px;}
div.admin-edit-widgets-form select {width: 600px;}


div.t150, div.t200, div.t250 {width: 150px; text-align: right; float: left; margin: 0 5px; font-weight: bold;}
div.t200 {width: 200px;}
div.t250 {width: 200px;}

